/* this file is loaded by index.html and styles the page */

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.data-pack {
	padding: 10px;
	margin: 10px;
	background-color: rgba(128, 0, 128, 0.3);
}

.button {
	background-color: aquamarine;
	font-size: 40px;
	font-family: sans-serif;
	text-align: center;
	width: 100px;
	padding: 10px;
	margin: 5px;
	width: auto;
}

.button:hover {
	cursor: pointer;
}
